@font-face{
    font-family: "BT";
    src: url(font/belligerent.ttf);
}

body {
    font-family: serif;
    font-size: 30px;
}

#count, #added p, #minute {
    font-family: "BT";
    font-size: 80px;
}

#added p, #minute {font-size: 50px}

